In [2]:
import numpy as np
import pandas as pd

In [5]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.Multiindex.from_tuples(hier_index)

In [7]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [9]:
inside

[1, 2, 3, 1, 2, 3]

In [10]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [12]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [14]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [19]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A','B'])

In [20]:
df

             A         B
G1 1 -1.195266  0.457031
   2  1.090428  0.110510
   3  0.205313  0.963447
G2 1  2.672338 -0.519202
   2  0.920087  1.095200
   3  0.616112 -0.651096

In [23]:
df.loc['G1'].loc[1]

A   -1.195266
B    0.457031
Name: 1, dtype: float64

In [26]:
df.index.names = ['Grupo','Numero']

In [28]:
df

                     A         B
Grupo Numero
G1    1      -1.195266  0.457031
      2       1.090428  0.110510
      3       0.205313  0.963447
G2    1       2.672338 -0.519202
      2       0.920087  1.095200
      3       0.616112 -0.651096

In [30]:
df.xs('G1')

               A         B
Numero
1      -1.195266  0.457031
2       1.090428  0.110510
3       0.205313  0.963447

In [34]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -1.195266  0.457031
G2     2.672338 -0.519202